body {
    background-color: rgb(231, 229, 232);
    color: rgb(28, 69, 149)
}

h1 {
    text-align: center;
    color: rgb(1, 8, 10);
}

h2 {
    text-align: center;
    color: rgb(1, 8, 10);
}

p {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1, 8, 10);
    box-shadow: rgba(231, 106, 36, 0.6) 0px 5px 15px;
}

nav li {
    float: left;
    position: relative;
}

nav li a {
    display: block;
    color: rgb(251, 188, 66);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    box-shadow: rgba(1, 8, 10, 0.6) 0px 5px 15px;
}

footer {
    color: rgb(231, 106, 36);
    text-align: center;
    padding: 10px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}