* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 229, 232);
    color: rgb(28, 69, 149);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburger-menu {
    display: none;
}

#menu-toggle {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    text-align: center;
    padding-top: 50px;
    color: rgb(1, 8, 10);
    text-decoration: underline rgb(28, 69, 149);
}

h2 {
    text-align: center;
    padding-bottom: 1em;
    color: rgb(1, 8, 10);
    text-decoration: underline rgb(231, 106, 36);
}

p {
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1, 8, 10);
    box-shadow: rgba(231, 106, 36, 0.6) 0px 5px 15px;
}

nav li {
    float: left;
    position: relative;
}

nav li a {
    display: block;
    color: rgb(251, 188, 66);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(28, 69, 149);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    background-color: rgb(251, 188, 66);
}

/* styling for the hero image */
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding-top: 2em;
    padding-bottom: 2em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    box-shadow: rgba(1, 8, 10, 0.6) 0px 5px 15px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50em;
    padding-top: 2em;
    padding-bottom: 2em;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.series-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.series-image {
    max-width: 100%;
    height: auto;
    box-shadow: rgba(1, 8, 10, 0.6) 0px 5px 15px;
}

.right {
    order: 1;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    box-shadow: rgba(1, 8, 10, 0.6) 0px 5px 15px;
}

textarea {
    resize: none;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(1, 8, 10);
    border-radius: 4px;
    background-color: rgb(231, 229, 232);
}

input[type=submit] {
    background-color: rgb(1, 8, 10);
    color: rgb(251, 188, 66);
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirmation {
    text-align: center;
    color: rgb(1, 8, 10);
    font-weight: 600;
    background-color: rgb(251, 188, 66);
}

footer {
    color: rgb(231, 106, 36);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.validator {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    body {
        background-color: rgb(231, 229, 232);
        color: rgb(28, 69, 149);
        font-weight: 200;
    }

    .hamburger-menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        background-color: rgb(251, 188, 66);
    }

    .navbar {
        display: none;
    }

    .menu-toggle:checked+.navbar {
        display: flex;
        flex-direction: column;
    }

    .menu-toggle:checked~main {
        margin-top: 1000px;
        /* Adjust this value to suit your needs */
    }

    .series-container {
        flex-direction: column;
    }

    .right {
        order: 0;
    }
}